<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
     <!-- elvis ? operator that checks if it exists first before accessing post.title -->
    <mat-form-field>
      <input
      matInput
      ngModel
      name="email"
      type="email"
      #emailInput="ngModel"
      required
      email
      placeholder="Email Address">
      <mat-error *ngIf="emailInput.invalid"><strong>Please enter a valid email.</strong></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        ngModel
        name="password"
        type="password"
        required
        #passwordInput="ngModel"
        placeholder="Password">
      <mat-error *ngIf="passwordInput.invalid"><strong>Please enter a valid password.</strong></mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      *ngIf="!isLoading"
      >Sign Up
    </button>
  </form>
</mat-card>
