<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
     <!-- elvis ? operator that checks if it exists first before accessing post.title -->
    <mat-form-field>
      <input
      matInput
      type="text"
      name="title"
      [ngModel]="post?.title"
      required
      placeholder="Post Title"
      #title="ngModel">
      <mat-error *ngIf="title.invalid"><strong>Please enter a post title.</strong></mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      rows="4"
      name="content"
      [ngModel]="post?.content"
      required
      placeholder="Post Content"
      #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid"><strong>Please enter post content.</strong></mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post
    </button>
  </form>
</mat-card>
